/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.table-view.portfolio{
	-fx-background-color: #3D3D3D;
	-fx-control-inner-background:  #3D3D3D;
	-fx-accent:  derive(-fx-control-inner-background, -40%);
	-fx-cell-hover-color:  derive(-fx-control-inner-background, -20%);
	-fx-text-fill:  #FFFFFF;
	-fx-font-weight:  bold;
	-fx-border-color:  skyblue;
	-fx-border-width: 2 2 2 2;
	-fx-table-cell-border-color:  transparent transparent;
	-fx-table-header-border-color: gold;
	-fx-table-header-color: gold;
	-fx-table-column-header-background: gold;
}

.table-row-cell {
    -fx-cell-size: 30px;
    -fx-alignment: center;
}

.table-view .column-header.portfolioCol {
	-fx-background-color: gold;
	-fx-border-width: 0 1 0 1;
	-fx-border-color: black;
	-fx-border-insets: 0 0 1 0;
}

.table-cell {
    -fx-alignment: CENTER;
}
.table-row-cell:new-row {
    -fx-background-color: Yellow;
}

.table-row-cell:target-flash-row .target-cell {
    -fx-background-color: Green ;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bolder;
}

.table-row-cell:target-highlight .target-cell {
	-fx-text-fill: #00ff00;
	-fx-font-weight: bolder;
}

.table-row-cell:stopLoss-flash-row .stopLoss-cell {
    -fx-background-color: red ;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bolder;
}

.table-row-cell:stopLoss-highlight .stopLoss-cell {
	-fx-text-fill: red;
	-fx-font-weight: bolder;
}

.table-row-cell:pnl-loss-highlight .pnl-cell {
	-fx-text-fill: red;
	-fx-font-weight: bolder;
}

.table-row-cell:pnl-profit-highlight .pnl-cell {
	-fx-text-fill: #00ff00;
	-fx-font-weight: bolder;
}

.table-row-cell:pnl-neutral-highlight .pnl-cell {
	-fx-text-fill: white;
	-fx-font-weight: bolder;
}

.table-row-cell:uPnl-loss-highlight .uPnl-cell {
	-fx-text-fill: red;
	-fx-font-weight: bolder;
}

.table-row-cell:uPnl-profit-highlight .uPnl-cell {
	-fx-text-fill: #00ff00;
	-fx-font-weight: bolder;
}

.table-row-cell:uPnl-neutral-highlight .uPnl-cell {
	-fx-text-fill: white;
	-fx-font-weight: bolder;
}

.table-row-cell:ticker-LastLessThanEqualToTarget-flash-row .wlTicker-cell {
    -fx-background-color: Green ;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bolder;
}

.table-row-cell:ticker-LastLessThanEqualToTarget-highlight .wlTicker-cell {
	-fx-text-fill: #00ff00;
	-fx-font-weight: bolder;
}

.table-row-cell:ticker-LastGreaterThanEqualToTarget-flash-row .wlTicker-cell {
    -fx-background-color: red ;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bolder;
}

.table-row-cell:ticker-LastGreaterThanEqualToTarget-highlight .wlTicker-cell {
	-fx-text-fill: red;
	-fx-font-weight: bolder;
}
